
.skills__container{
row-gap: 2.5rem;
}

.skills__img{
width: 280px;
border-radius: 1.5rem;
justify-self: center;
}
.skills__data{
text-align: center;
}
.skills__info{
display: grid;
grid-template-columns: repeat(5,1fr);
gap: 3rem;
margin-bottom: 5rem;
height: 7rem;
}

.skills__box{
background-color: var(--color-bg-variant);
border-radius: .75rem;
padding: 1rem 1rem;
border: 1px solid transparent;
transition: var(--transition);
}

.skills__box:hover{
border-color: var(--color-primary-variant);
background: transparent;
}


.skills__icon{
font-size: 2.5rem;
color: var(--color-primary);
margin-bottom: 2rem;
}

.skills__title{
font-size: var(--small-font-size);
}

.skills__subtitle{
font-size: var(--tiny-font-size);
}

.skills__description{
margin-bottom: 2rem;
}